{
  "presets": [
    ["env", {
      "targets": {
        "node": 7.0
      }
    }]
  ],
  "sourceMaps": true,
  "retainLines": true,
  "plugins": [
    "add-module-exports",
    "transform-flow-strip-types"
  ]
}
