{
  "extends": "airbnb/base",
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "max-len": ["off"],
    "func-names": ["off"],
    "import/no-dynamic-require": ["off"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-param-reassign": ["error", { "props": false }],
    "camelcase": ["error", {"properties": "never"}],
    "array-bracket-spacing": ["error", "always", {"objectsInArrays": false}],
    "object-curly-spacing": ["error", "always"],
    "no-underscore-dangle": ["off"],
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never" }]
  },
  "globals": {
    "Models": true
  }
}
